@use "./variables";
@use "./mixins";

:root {
  --color-brand: #{variables.$color-brand};
  --color-text: #{variables.$color-text};
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: lightgray;
  // background: linear-gradient(180deg, rgba(29, 86, 184, 1) 0%, rgba(35, 161, 219, 1) 100%);
  color: #ffffff;
}
