.contact-info {
  background-color: white;
  background: #edebea;
  margin: 1rem;
  padding: 1rem;
}

h4 {
  text-align: center;
  font-weight: bold;
}

.form-container .contact-form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  width: 400px;
  background-color: #edebea;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
label {
  margin-bottom: 0.2rem;
}

input {
  border: 1px solid black;
  background-color: white;
}

.ctt {
  padding: 0.5rem;
  background-color: seagreen;
  color: white;
  border: 1px solid black;
  /* border-radius: 12px; */
  margin-top: 2rem;
}

@media screen and (max-width: 712xp) {
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 888px) {
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
