.collaboration-page {
  margin: 1rem;
  min-height: 100vh;
}

.collaboration-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: start;
}

.collaboration-page {
  color: #000000;
}

.collaboration-page a {
  color: #000000;
}

.contact-info {
  background: rgba(255, 255, 255, 0.85);
  margin: 1rem;
  padding: 1rem;
  border: 1px solid grey;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.43);
}

.contact-methods {
  display: grid;
  gap: 0.5rem;
}

h4 {
  text-align: center;
  font-weight: bold;
}

.form-container {
  margin: 1rem;
}

.form-container .contact-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
  width: 100%;
  max-width: 680px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid grey;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.43);
}

.form-item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
label {
  margin-bottom: 0.2rem;
}

input {
  border: 1px solid black;
  background-color: white;
}

textarea {
  border: 1px solid black;
  background-color: white;
  min-height: 120px;
  resize: vertical;
}

.ctt {
  padding: 0.5rem;
  background-color: seagreen;
  color: white;
  border: 1px solid black;
  /* border-radius: 12px; */
  margin-top: 2rem;
}

.icon {
  display: inline-flex;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  vertical-align: text-bottom;
}

.icon svg {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 980px) {
  .collaboration-container {
    grid-template-columns: 1fr;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 888px) {
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
